<%- include("header")-%>

<h2>This is the About page</h2>
<p>While building this website I learnt about render function, had practice building routes among other stuff.</p>


<%- include("footer")-%>
